@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

h1{
	@apply text-6xl font-bold
}
h2{
	@apply text-5xl font-bold
}
h3{
	@apply text-4xl font-bold
}
h4{
	@apply text-3xl font-bold
}
h5{
	@apply text-2xl font-bold
}
h6{
	@apply text-xl font-bold
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 180 90% 15%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 177 100% 7.5%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 177 100% 7.5%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 180 100% 5%;
		--foreground: 213 31% 91%;

		--muted: 180 100% 10%;
		--muted-foreground: 180 90% 30%;

		--popover: 180 100% 10%;
		--popover-foreground: 215 20.2% 65.1%;

		--card: 180 100% 20%;
		--card-foreground: 222.2 47.4% 11.2%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--accent: 180 100% 15%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}

.tabs-content[data-state="inactive"] {
	@apply hidden;
}
